<ion-header>
  <ion-navbar>
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="event">
    <ion-col class="top-nav event">
      <span>{{event.title}}</span>
    </ion-col>
  </ion-row>
  <ion-row class="check-in">
    <button ion-button [color]="isGoing ? 'secondaryDark' : 'primary'" (click)="checkIn()">
      <span *ngIf="isGoing">I'm Going</span>
      <span *ngIf="!isGoing">Check In</span>
    </button>
  </ion-row>
  <ion-row padding *ngIf="event">
    <ion-col col-12>
      <h2>{{event.title}}</h2>
      <h5>{{event.date | date:'shortDate'}} <span>{{event.start_time}}</span></h5>
      <p>{{event.hundred_word_description}}</p>
    </ion-col>
  </ion-row>
</ion-content>