<ion-header>
  <ion-navbar>
    <ion-title>
      Map
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [iconUrl]="iconUrl"></sebm-google-map-marker>

    <div *ngFor="let event of events">
      <sebm-google-map-marker [latitude]="event.lat" [longitude]="event.lng" [title]="event.venue_name" openInfoWindow="true">
        <sebm-google-map-info-window [disableAutoPan]="true">
          <ion-card>
            <img src="assets/img/assemble.png"/>
            <ion-card-content>
              <ion-card-title>
                {{event.title}}
              </ion-card-title>
              <ion-row class="check-in">
                <button ion-button [color]="isGoing[event.id] ? 'checkin' : 'secondary'" (click)="checkIn(event.id)">
                  <span *ngIf="isGoing[event.id]">I'm Going</span>
                  <span *ngIf="!isGoing[event.id]">Check In</span>
                </button>
              </ion-row>
              <p>{{event.address}}</p>
              <h5>{{event.start_time}}</h5>
              <p>
                {{event.hundred_word_description}}
              </p>
            </ion-card-content>
          </ion-card>
        </sebm-google-map-info-window>
      </sebm-google-map-marker>
    </div>
  </sebm-google-map>
</ion-content>

