// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tabs {
  &-md .tab-button[aria-selected="true"] {
    color: #FFF;
  }
  .tab-button-text {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  .tab-button[aria-selected='true'] .tab-button-text {
    transform: none;
  }
}

.top-nav {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 500;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  height: 140px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: cover;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
  }
  span {
    position: relative;
  }
}

.list-ios,
.list-md,
.list-wp {
  margin: 0;
}

.item-block.item-ios,
.item-block.item-md,
.item-block.item-wp {
  align-items: flex-start;
  padding-left: 0;
  .item-inner {
    padding-left: 16px;
    padding-right: 0;
  }
  ion-thumbnail {
    width: 120px;
    height: 80px;
    img {
      width: 120px;
      height: 80px;
      object-fit: cover;
    }
  }
  ion-avatar {
    width: 80px;
    height: 80px;
    img {
      width: 80px;
      height: 80px;
    }
  }

  p {
    margin-bottom: 16px;
  }

  .details {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: color($colors, primary);
  }
}

ion-label {
  white-space: normal;
}

h2,
ion-card-title {
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

h5 {
  color: color($colors, secondaryDark);
}
